	
		/***** FONTS *****/
	/***************************/
	
body  {
font-family: "Lucida Sans", sans-serif; 
font-size: 13px;
}	

	
		/***** SVG *******/
	/***************************/

#logo {
margin-bottom: 10px;
height: 8em;
}

svg{
max-width: 55%;
height: 100%;
min-width: 280px;	
}

text {
letter-spacing: 0.02em;	
word-spacing: 0.4em;
font-size: 2em;
fill: black;
}

tspan {
letter-spacing: 0.16em;
fill: red;
font-size: 1.55em;
vertical-align: middle;
font-family: Verdana;	
}

tspan:last-child {
letter-spacing: initial;
}
	

		/***** FORM *****/
	/***************************/
#search-form {
font-size: 1.2em;	
}
	
#s-box {
text-align: center;
margin-top: 3px;
}

input[type="search"] {
border: 1px solid #F4ECCD;
height: 36px;
border-radius: 3px;
width: 80%;
max-width: 400px;
font-size: inherit;
color: #4c3c08;
font-weight: lighter;
}


input[type="search"]:hover {
border-color: #928D7B;
}

input[type="submit"]{
font-size: inherit;
font-weight: bold;
letter-spacing: 0.1em;	
}

		/***** FOOTER *****/
	/***************************/
	
footer {
	padding: 8px 8px 0 8px;
}



		
	/*****************************/
	/****** MEDIA QUERIES *******/
	/***************************/


@media only screen and (min-width: 992px) {
#logo {
text-align: center;	
}
svg {
max-width: 500px;	
}
}	


	
@media only screen and (max-height: 400px) and (min-width: 992px) {
	


	
}	

/***** CONTENT BREAKPOINT *****/
@media only screen and (min-width: 680px) {
	
footer {
font-size: initial;
padding: 15px;	
}	

}

/***** ------------------- *****/
	
@media only screen and (max-width: 992px) {	

	
}	
	
	
@media only screen and (min-width: 1200px) {



}		
	
@media only screen and (min-width: 1400px) {


}	
	
	
	
	
	