/*** VISUAL**/
/* This is for inspecting layout visually. Delete in development/production */

body {
background: #8cc8c7;	
}
#wrapper>*, footer {
background: #ffffc1;
background-clip: content-box;
border: 1px dashed black;
}

/* CLEARFIX */

#wrapper:after {
content: "";
display: block;	
clear: both;	
}


/* WRAPPER */

#wrapper {
height: 1px;	
min-height: 87%;
background: #af8792;
}

/* STRIPES */

.stripe {
	display: none;
}

/* CONTAINER */

#container {
padding: 5% 3%;
height: 100%;
}

/* FOOTER */
footer {
min-height: 13%;
padding: 6px;	
}
 

/*****************************/
/****** MEDIA QUERIES *******/
/***************************/

@media only screen and (min-width: 992px) {

#wrapper {
margin: 0 auto;	
max-width: 992px;
}	
	
.stripe,#container {
display: inline-block;
vertical-align: top;
height: 87vh;
}	
	
#left-stripe {
float: left;	
}	

#container {
width: 492px;
padding: 8vh 16px 16px;	
}	

.stripe {
width: 250px;
padding: 8vh 16px 16px;
}

}	


@media only screen and (max-height: 400px) and (min-width: 992px) {
	
html,body {
min-height: 400px;
}	
	
#wrapper,.stripe, #container {
min-height: 300px;
}

#container {
width: 479px;	
}

footer {
min-height: 60px;	
}
 
}

@media only screen and (min-width: 1200px) {

#wrapper {
max-width: 96%;
padding: 0 2%;
}	
	
.stripe {
width: 29%;	
}	
#container {
width: 42%;	
}
}
	











