/* RESETS */

html {
height: 100%;
}
body  {
margin: 0;
height: 100%;
font-family: "Lucida Sans", sans-serif; 
}

div,footer {
box-sizing: border-box;	
}

ul {
list-style: none;	
padding: 0;
margin: 0;
}

ul li {
display: inline-block;	
}

a {
text-decoration: none;
color:inherit;	


}

input {
outline: none;	
border:none;
background: none;
-webkit-appearance:none;
font-family: inherit;
padding: 10px;
}

:focus {
border: 1px solid #928D7B;	
}

input[type="search"]::-webkit-search-cancel-button {display: none; }


/* FONTS */

/* CLEARFIX */

#wrapper:after {
content: "";
display: block;	
clear: both;	
}

/* WRAPPER */

#wrapper {
min-height: 87%;

}

/* STRIPES */

.stripe {
	display: none;
	background: #dcdcda;
	
}

/* CONTAINER */

#container {
padding: 15% 6% 0 6%;

}

/* FORM */
#s-box {
text-align: center;
}

#search-form {
	
}

input[type="search"] {
border: 1px solid #F4ECCD;
height: 36px;
border-radius: 3px;	
}


input[type="search"]:hover {
border-color: #928D7B;

}

input[type="submit"]{
}

/* FOOTER */

footer {
	position: relative;
	min-height: 13%;
	padding: 8px 8px 0 8px;
	font-size: 10px;
	font-weight: 100;
}

footer ul {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 12px;
}

/* SVG */

#logo {
margin-bottom: 60px;
height: 150px;
text-align: center;
}

#svg{
width: 100%;
height: 100%;

}

rect {
display: block;	
width: 100%;
height: 100%;
fill: transparent;	
}

text {
letter-spacing: 0.06em;	
word-spacing: 0.4em;

}

tspan {
letter-spacing: 0.2em;
fill:#cccc51;
font-size: 1.55em;
vertical-align: middle;
font-family: Verdana;	
}

tspan:last-child {
fill: red;	
letter-spacing: initial;
}

/* MEDIA QUERIES */




@media only screen and (min-width: 992px) {

#wrapper {
margin: 0 auto;	
max-width: 992px;


}	
	
.stripe,#container {
display: inline-block;
vertical-align: top;
height: 86vh;
}	
	
#left-stripe {
float: left;	
}	

#container {
width: 492px;
padding: 25vh 5px;	
}	

.stripe {
width: 250px;
padding: 8vh 16px 16px;
background-clip: content-box;
border: 1px dashed black;
}



footer {

}

input[type="search"] {
width: 380px;
}	
}	


@media only screen and (min-width: 480px) and (max-width: 600px) {
	
input[type="search"] {
width: 220px;
}			
	
#container {

}	
}
	
	
@media only screen and (min-width: 600px) and (max-width: 992px) {


input[type="search"] {
width: 300px;
}			
	
#container {

}	
}

@media only screen and (min-width: 680px) {
	
footer {
font-size: initial;
padding: 15px;	
}	

}


@media only screen and (max-height: 400px) and (min-width: 992px) {
	
html,body {
min-height: 400px;
}	
	
#wrapper,.stripe, #container {
min-height: 300px;
}

#container {
width: 479px;	
}

footer {
min-height: 60px;	
}
 

}	
	
	
@media only screen and (min-width: 1200px) {

#wrapper {
max-width: 96%;
padding: 0 2%;
}	
	
.stripe {
width: 29%;	
}	
#container {
width: 42%;	
}
	
}	
	
	
@media only screen and (max-width: 992px) {	
	
body {
font-size: 12px;	
}		
	
}	
	
	