	
		/***** FONTS *****/
	/***************************/
	
body  {
font-family: "Lucida Sans", sans-serif; 
font-size: 13px;
}	

	
		/***** SVG *******/
	/***************************/

#logo {
margin-bottom: 10px;
height: 100px;
text-align: center;
}

#svg{
width: 100%;
height: 100%;

}

rect {
display: block;	
width: 100%;
height: 100%;
fill: transparent;	
}
image {
height: 28px;
width: 28px;
y: 25%;
x: 16;	
}

text {
letter-spacing: 0.02em;	
word-spacing: 0.4em;
font-size: 2.4em;
}

tspan {
letter-spacing: 0.16em;
fill:#cccc51;
font-size: 1.55em;
vertical-align: middle;
font-family: Verdana;	
}

tspan:last-child {
fill: red;	
letter-spacing: initial;
}
	

		/***** FORM *****/
	/***************************/
#s-box {
text-align: center;
}

#search-form {
	
}

input[type="search"] {
border: 1px solid #F4ECCD;
height: 36px;
border-radius: 3px;	
}


input[type="search"]:hover {
border-color: #928D7B;

}

input[type="submit"]{
}

		/***** FOOTER *****/
	/***************************/
	
footer {
	position: relative;
	min-height: 13%;
	padding: 8px 8px 0 8px;
	font-size: 10px;
	font-weight: 100;
}

footer ul {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 12px;
}

		
	/*****************************/
	/****** MEDIA QUERIES *******/
	/***************************/


@media only screen and (min-width: 992px) {

input[type="search"] {
width: 380px;
}	
}	


@media only screen and (min-width: 480px) and (max-width: 600px) {
	
input[type="search"] {
width: 220px;
}			

}
	
	
@media only screen and (min-width: 600px) and (max-width: 992px) {

input[type="search"] {
width: 300px;
}			

}

@media only screen and (min-width: 680px) {
	
footer {
font-size: initial;
padding: 15px;	
}	

}

	
@media only screen and (max-width: 992px) {	
	
body {
font-size: 12px;	
}		
	
}	
	
	