/* RESETS */

html {
height: 100%;
}
body  {
margin: 0;
height: 100%;
}

div,footer {
box-sizing: border-box;	
}

ul {
list-style: none;	
padding: 0;
margin: 0;
}

ul li {
display: inline-block;	
}

a {
text-decoration: none;
color:inherit;	
}

input {
outline: none;	
border:none;
background: none;
-webkit-appearance:none;
font-family: inherit;
padding: 10px;
}

:focus {
border: 1px solid #928D7B;	
}

input[type="search"]::-webkit-search-cancel-button {display: none; }