
		/***** FONTS *****/
	/***************************/
	
body  {
font-family: "Lucida Sans", sans-serif; 
font-size: 13px;
}	

html,body,#wrapper {
/* height: 100%;	  */
}	

/* CLEARFIX */

.product-details:after, .result-header-ul {
content: "";
display: block;	
clear: both;	
}
	
		/***** SVG *******/
	/************************/

#logo {
margin-bottom: 10px;
height: 8em;
}

svg{
max-width: 55%;
height: 100%;
min-width: 268px;	
}

text {
letter-spacing: 0.02em;	
word-spacing: 0.4em;
font-size: 2em;
fill: black;
}

tspan {
letter-spacing: 0.16em;
fill: red;
font-size: 1.55em;
vertical-align: middle;
font-family: Verdana;	
}

tspan:last-child {
letter-spacing: initial;
}


		/***** RESULTS *******/
	  /************************/

/* #results {
background: #EB9984;	
}	 */  
.result {

background: #EEE6E4;
max-height: 200px;
margin: 15px 0;
}

.result-header {
font-size: 1.15em;	
padding: 2px 5px;
}

li.price{
float: right;	
}

li.price span.currency, li.merchant span.address {
font-size: 0.6em;
display: inline-block;
margin-right: 1px;	
}

.product-img-wrapper {
width: 30%;
max-width: 150px;
float: left;
margin-right: 7px;
	
}

.product-img {
max-width: 100%;	
}

.product-info {

padding-top: 2em;
}


		/***** FOOTER *****/
	/***************************/
	
footer {
position: initial;
	
}


		
	/*****************************/
	/****** MEDIA QUERIES *******/
	/***************************/

@media only screen and (min-width: 448px) {
.result {
max-width: 420px;
margin: 15px auto;
}

}	
	
	
@media only screen and (min-width: 992px) {
#logo {
text-align: center;	
}
svg {
max-width: 500px;	
}
}	


	
@media only screen and (max-height: 400px) and (min-width: 992px) {
	


	
}	

/***** CONTENT BREAKPOINT *****/
@media only screen and (min-width: 680px) {
	
footer {
font-size: initial;
padding: 15px;	
}	

}

/***** ------------------- *****/
	
@media only screen and (max-width: 992px) {	

	
}	
	
	
@media only screen and (min-width: 1200px) {



}		
	
@media only screen and (min-width: 1400px) {


}	
	
	




















